Repository sunnypilot/sunnypilot, pull requests merged in 2025-04, with the labels that each got.

#678 ui: update names
  selfdrive/selfdrived/alerts_offroad.json
  selfdrive/ui/qt/network/wifi_manager.cc
  selfdrive/ui/qt/offroad/developer_panel.cc
  selfdrive/ui/qt/offroad/firehose.cc
  selfdrive/ui/qt/offroad/onboarding.cc
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/onroad/alerts.cc
  selfdrive/ui/qt/setup/setup.cc
  selfdrive/ui/qt/util.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/lateral_panel.cc
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_nl.ts
  selfdrive/ui/translations/main_pl.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
  tools/replay/consoleui.cc
Labels: refactor, ui, dev-c3

#577 README for sunnypilot
  README.md
Labels: chore

#788 CI: Cache macOS Homebrew and Scons
  .github/workflows/selfdrive_tests.yaml
Labels: ci

#793 Readme: update with links to new branches and some info
  README.md
Labels: chore

#795 Readme: update with links to new branches and some info
  README.md
Labels: chore

#800 UI: Update `AbstractControlSP_SELECTOR` and `OptionControlSP`
  selfdrive/ui/sunnypilot/qt/widgets/controls.cc
  selfdrive/ui/sunnypilot/qt/widgets/controls.h
Labels: ui

#791 MADS: transition to soft-disable for specific gear states
  sunnypilot/mads/mads.py
Labels: bug

#806 UI: Device & Sunnylink Panels - Standardize push button size & alignment
  selfdrive/ui/sunnypilot/qt/offroad/settings/device_panel.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/sunnylink_panel.cc
Labels: refactor, ui, dev-c3

#810 ci: Remove redundant Panda build step from prebuilt workflow
  .github/workflows/sunnypilot-build-prebuilt.yaml
Labels: chore, ci

#796 Device: Max Time Offroad
  common/params_keys.h
  selfdrive/ui/sunnypilot/SConscript
  selfdrive/ui/sunnypilot/qt/offroad/settings/device_panel.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/device_panel.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/max_time_offroad.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/max_time_offroad.h
  system/hardware/power_monitoring.py
  system/hardware/tests/test_power_monitoring.py
  system/manager/manager.py
Labels: enhancement, ui, dev-c3

#811 ci: update squash script for external contributors
  .github/workflows/sunnypilot-master-dev-c3-prep.yaml
  release/ci/squash_and_merge_prs.py
Labels: dev-c3, chore, ci

#816 sunnylink: fix sunnylink backup restore version parsing
  sunnypilot/sunnylink/backups/manager.py
Labels: bug, dev-c3

#818 DM: Enforce monitoring of MADS state in driver monitoring
  selfdrive/monitoring/dmonitoringd.py
  selfdrive/monitoring/helpers.py
Labels: bug

#820 Bugfix: Max Time Offroad
  selfdrive/ui/sunnypilot/qt/widgets/controls.h
Labels: bug, ui

#825 CI: Improve `dev-c3-new` auto build
  .github/workflows/sunnypilot-master-dev-c3-prep.yaml
  .github/workflows/wait-for-action/action.yaml
  release/ci/squash_and_merge_prs.py
Labels: dev-c3, chore, ci

#829 CI: Update PR list query to exclude draft pull requests
  .github/workflows/sunnypilot-master-dev-c3-prep.yaml
Labels: dev-c3, chore, ci

#830 Revert "DM: Enforce monitoring of MADS state in driver monitoring"
  selfdrive/monitoring/dmonitoringd.py
  selfdrive/monitoring/helpers.py
Labels: no-changelog

#831 DM: Enforce monitoring of MADS state in driver monitoring
  selfdrive/monitoring/dmonitoringd.py
  selfdrive/monitoring/helpers.py
Labels: bug, dev-c3

#813 DEC: adjust dynamic speed adaptation parameters
  sunnypilot/selfdrive/controls/lib/dec/constants.py
  sunnypilot/selfdrive/controls/lib/dec/dec.py
Labels: enhancement, dev-c3

#835 ci: ui preview add unicode characters and emojis
  Dockerfile.openpilot_base
Labels: chore, no-changelog

#822 NNLC: decreased low-speed factor
  selfdrive/controls/lib/latcontrol_torque.py
  sunnypilot/selfdrive/controls/lib/latcontrol_torque_ext.py
  sunnypilot/selfdrive/controls/lib/latcontrol_torque_ext_base.py
  sunnypilot/selfdrive/controls/lib/nnlc/nnlc.py
  sunnypilot/selfdrive/controls/lib/nnlc/tests/test_nnlc.py
Labels: bug, enhancement, dev-c3

#823 NNLC: fix weak torque in high lat-accel turns
  sunnypilot/selfdrive/controls/lib/nnlc/nnlc.py
Labels: bug, enhancement, dev-c3

#838 ci: enhance pull request handling for prebuilt workflows
  .codespellignore
  .github/workflows/sunnypilot-build-prebuilt.yaml
Labels: chore, ci

#839 ci: avoid deadlock on dev-c3 branch build when PR labeled dev-c3
  .github/workflows/sunnypilot-master-dev-c3-prep.yaml
  release/ci/squash_and_merge_prs.py
Labels: dev-c3, chore, ci

#842 ci: update auto pr review config and split turst fork pr
  .github/labeler.yaml
  .github/workflows/auto_pr_review.yaml
  .github/workflows/sunnypilot-master-dev-c3-prep.yaml
Labels: chore, ci

#844 ci: improve conditions for publish and notify steps in workflow
  .github/workflows/sunnypilot-build-prebuilt.yaml
Labels: ci

#845 DM: Use `carControl.latActive` for MADS DM monitoring
  selfdrive/monitoring/dmonitoringd.py
  selfdrive/monitoring/helpers.py
Labels: bug, dev-c3

#847 ci: enhance configuration handling for pull requests and forks in wor…
  .github/workflows/sunnypilot-build-prebuilt.yaml
Labels: ci

#851 Sync: `commaai/openpilot:master` into `sunnypilot/sunnypilot:master-new`
  selfdrive/modeld/modeld.py
  system/ui/lib/application.py
  system/ui/spinner.py
  system/ui/text.py
  tools/plotjuggler/juggle.py
Labels: minor

#841 SL: updating localproxy implementation
  sunnypilot/sunnylink/athena/sunnylinkd.py
  sunnypilot/sunnylink/utils.py
  system/athena/athenad.py
Labels: dev-c3, sunnylink
