Repository sunnypilot/sunnypilot, pull requests merged in 2025-10, with the labels that each got.

#1309 Device: Wake for all visual alerts
  selfdrive/ui/sunnypilot/qt/onroad/hud.cc
  selfdrive/ui/sunnypilot/ui.cc
Labels: enhancement, ui, dev-c3

#1308 sunnylink: enhanced param keys fetch with data type
  sunnypilot/sunnylink/athena/sunnylinkd.py
  sunnypilot/sunnylink/utils.py
Labels: sunnylink

#1312 sunnylink: Enabled by default
  common/params_keys.h
Labels: sunnylink

#1322 ci: Disable homebrew cache for MacOS builds
  .github/workflows/selfdrive_tests.yaml
Labels: bug, chore, ci

#1330 ci: refine PR search query to avoid querying whole github
  .github/workflows/sunnypilot-master-dev-prep.yaml
Labels: dev

#1324 UI: Expandable Row - Fix margins
  selfdrive/ui/sunnypilot/qt/widgets/expandable_row.cc
Labels: ui

#1325 UI: OptionControlSP - Fix Inline Spacer
  selfdrive/ui/sunnypilot/qt/widgets/controls.h
Labels: ui

#1327 UI: Make Always Offroad more accessible
  selfdrive/ui/sunnypilot/qt/offroad/settings/device_panel.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/device_panel.h
Labels: ui
