Repository sunnypilot/sunnypilot, pull requests merged in 2025-01, with the labels that each got.

#586 Add Release Drafter configuration and workflow
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: chore

#585 ui: Hide regulatory button on non-comma devices
  selfdrive/ui/sunnypilot/qt/offroad/settings/device_panel.cc
Labels: bug, no-changelog

#591 ui: Model Selector: display prompt with rich text widget
  selfdrive/ui/sunnypilot/qt/offroad/settings/software_panel.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/software_panel.h
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: enhancement, UI

#572 Longitudinal: Dynamic Experimental Control
  cereal/custom.capnp
  cereal/log.capnp
  cereal/services.py
  common/params.cc
  selfdrive/car/card.py
  selfdrive/car/cruise.py
  selfdrive/car/tests/test_cruise_speed.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/controls/plannerd.py
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/onroad/annotated_camera.h
  selfdrive/ui/qt/onroad/buttons.cc
  selfdrive/ui/qt/onroad/buttons.h
  selfdrive/ui/sunnypilot/SConscript
  selfdrive/ui/sunnypilot/qt/onroad/buttons.cc
  selfdrive/ui/sunnypilot/qt/onroad/buttons.h
  selfdrive/ui/sunnypilot/ui.cc
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
  sunnypilot/selfdrive/__init__.py
  sunnypilot/selfdrive/controls/__init__.py
  sunnypilot/selfdrive/controls/lib/__init__.py
  sunnypilot/selfdrive/controls/lib/dec/__init__.py
  sunnypilot/selfdrive/controls/lib/dec/constants.py
  sunnypilot/selfdrive/controls/lib/dec/dec.py
  sunnypilot/selfdrive/controls/lib/dec/tests/__init__.py
  sunnypilot/selfdrive/controls/lib/dec/tests/pytest_dynamic_controller.py
  sunnypilot/selfdrive/controls/lib/longitudinal_planner.py
  system/manager/manager.py
Labels: enhancement, dev-c3

#576 Longitudinal: Distance button hold to toggle Chill/Experimental Mode
  cereal/log.capnp
  selfdrive/selfdrived/events.py
  selfdrive/selfdrived/selfdrived.py
  sunnypilot/selfdrive/car/__init__.py
  sunnypilot/selfdrive/car/cruise_helpers.py
  sunnypilot/selfdrive/car/tests/__init__.py
  sunnypilot/selfdrive/car/tests/test_cruise_mode.py
Labels: enhancement, dev-c3

#579 ci: Add nightly branch reset workflow and improve squash script
  .codespellignore
  .github/workflows/sunnypilot-master-dev-c3-prep.yaml
  release/ci/squash_and_merge.py
  release/ci/squash_and_merge_prs.py
Labels: chore

#609 ci: Add support for "settings_network" and "settings_network_advanced" scene in UI tests
  .github/workflows/ui_preview.yaml
  selfdrive/ui/tests/test_ui/run.py
Labels: chore, no-changelog

#608 ui: Add Wi-Fi scan button to network settings
  selfdrive/ui/qt/network/networking.h
  selfdrive/ui/sunnypilot/SConscript
  selfdrive/ui/sunnypilot/qt/network/networking.cc
  selfdrive/ui/sunnypilot/qt/network/networking.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/settings.cc
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: enhancement, UI, dev-c3

#610 ci: squash and merge script update to allow merging less restrictively
  release/ci/squash_and_merge_prs.py
Labels: chore, no-changelog

#605 Sentry: sets environment tag
  system/sentry.py
  system/version.py
Labels: dev-c3, chore

#595 modeld: legacy MLSIM driving models support
  cereal/custom.capnp
  selfdrive/modeld/__init__.py
  selfdrive/modeld/fill_model_msg.py
  selfdrive/modeld/modeld.py
  selfdrive/modeld/models/commonmodel.cc
  selfdrive/modeld/models/commonmodel.h
  selfdrive/modeld/models/commonmodel.pxd
  selfdrive/modeld/models/commonmodel_pyx.pyx
  sunnypilot/modeld_v2/__init__.py
  sunnypilot/modeld_v2/meta_20hz.py
  sunnypilot/modeld_v2/meta_helper.py
  sunnypilot/modeld_v2/model_runner.py
  sunnypilot/models/fetcher.py
Labels: enhancement, dev-c3

#617 ui: Vehicle panel in settings
  .github/workflows/ui_preview.yaml
  selfdrive/ui/sunnypilot/SConscript
  selfdrive/ui/sunnypilot/qt/offroad/settings/settings.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle_panel.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle_panel.h
  selfdrive/ui/tests/test_ui/run.py
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
  sunnypilot/selfdrive/assets/offroad/icon_vehicle.png
Labels: enhancement, UI, dev-c3

#623 ui: Display default driving model name
  common/model.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/software_panel.cc
  sunnypilot/modeld/tests/model_hash
  sunnypilot/modeld/tests/test_default_model.py
Labels: bug, enhancement, UI, dev-c3
