Repository sunnypilot/sunnypilot, pull requests merged in 2025-08, with the labels that each got.

#1108 ci: update cereal validation repo reference to sunnypilot
  .github/workflows/cereal_validation.yaml
Labels: ci

#1112 fix: update LastSunnylinkPingTime parameter type from string to integer
  sunnypilot/sunnylink/api.py
Labels: dev-c3

#1132 ci: adjusting build-single to comply with githubs change
  .github/workflows/build-single-tinygrad-model.yaml
Labels: ci

#1135 Revert "ci: update cereal validation repo reference to sunnypilot"
  .github/workflows/cereal_validation.yaml
Labels: ci

#1136 ci: use upstream docker build script for cereal validation
  .github/workflows/cereal_validation.yaml
Labels: ci

#1138 Reapply "`LagdToggle`: refactor and only instantiate once" (#1137)
  common/params_keys.h
  selfdrive/controls/controlsd.py
  selfdrive/locationd/lagd.py
  selfdrive/locationd/torqued.py
  selfdrive/modeld/modeld.py
  selfdrive/ui/sunnypilot/qt/offroad/settings/models_panel.cc
  sunnypilot/livedelay/helpers.py
  sunnypilot/livedelay/lagd_toggle.py
  sunnypilot/modeld/modeld.py
  sunnypilot/modeld/modeld_base.py
  sunnypilot/modeld_v2/modeld.py
  sunnypilot/selfdrive/controls/lib/latcontrol_torque_ext_base.py
Labels: dev-c3

#1074 ui: refresh model list
  selfdrive/ui/sunnypilot/qt/offroad/settings/models_panel.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/models_panel.h
Labels: enhancement, ui, dev-c3

#1166 ui: display thousandths place on lagd toggle
  selfdrive/ui/sunnypilot/qt/offroad/settings/models_panel.cc
Labels: ui

#1131 ui: bugfix visibility for developer panel
  selfdrive/ui/sunnypilot/qt/offroad/settings/developer_panel.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/developer_panel.h
Labels: bug, ui, dev-c3

#1162 modeld_v2: infer model shapes from inputs
  sunnypilot/modeld_v2/modeld.py
  sunnypilot/modeld_v2/parse_model_outputs_split.py
  sunnypilot/modeld_v2/tests/test_buffer_logic_inspect.py
  sunnypilot/models/runners/tinygrad/tinygrad_runner.py
Labels: refactor, dev-c3

#1181 ui: sunnylink panel title & message
  selfdrive/ui/sunnypilot/qt/offroad/settings/sunnylink_panel.cc
Labels: ui

#1186 agnos: split launch for c3 and c3x to support custom agnos
  launch_openpilot.sh
  sunnypilot/system/hardware/c3/README.md
  sunnypilot/system/hardware/c3/agnos.json
  sunnypilot/system/hardware/c3/launch_chffrplus.sh
  sunnypilot/system/hardware/c3/launch_env.sh
Labels: bug

#1118 ci: add deploy strategy extraction and refactor publish dependencies
  .github/workflows/sunnypilot-build-prebuilt.yaml
Labels: ci

#1189 ci: tweaking the deploy with delay process + fixing bugs
  .github/workflows/sunnypilot-build-prebuilt.yaml
Labels: bug, chore, ci

#1116 feature: Adding support for copyparty
  common/params_keys.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/developer_panel.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/developer_panel.h
  system/manager/process_config.py
  third_party/copyparty/copyparty-sfx.py
Labels: dev-c3

#1194 Bug: Fix OSM Download Time & ETA
  sunnypilot/mapd/mapd_manager.py
Labels: bug, ui, dev-c3

#1067 Visual: 🌈 road
  common/params_keys.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/visuals_panel.cc
  selfdrive/ui/sunnypilot/qt/onroad/model.cc
  selfdrive/ui/sunnypilot/qt/widgets/controls.h
Labels: enhancement, ui, dev-c3
