Repository sunnypilot/sunnypilot, pull requests merged in 2025-03, with the labels that each got.

#639 Fix runner install script
  release/ci/install_github_runner.sh
Labels: chore

#644 Models: Handle missing 'sim_pose' gracefully in model outputs.
  selfdrive/modeld/fill_model_msg.py
  selfdrive/modeld/parse_model_outputs.py
Labels: bug, dev-c3

#645 Uploading codeowners
  .github/CODEOWNERS
Labels: chore

#664 ui: Trim panel name for Firehose panel redirect
  selfdrive/ui/qt/offroad/settings.cc
Labels: bug, ui, dev-c3

#661 sunnylink: Fix IMEI fetching during registration
  sunnypilot/sunnylink/api.py
Labels: bug, dev-c3

#668 CI: identify new screenshots in UI preview
  .github/workflows/ui_preview.yaml
Labels: chore, ci

#523 sunnylink: pairing and sponsorship
  common/api/__init__.py
  common/params_keys.h
  selfdrive/ui/qt/api.cc
  selfdrive/ui/qt/api.h
  selfdrive/ui/sunnypilot/SConscript
  selfdrive/ui/sunnypilot/qt/api.cc
  selfdrive/ui/sunnypilot/qt/api.h
  selfdrive/ui/sunnypilot/qt/network/sunnylink/models/role_model.h
  selfdrive/ui/sunnypilot/qt/network/sunnylink/models/sponsor_role_model.h
  selfdrive/ui/sunnypilot/qt/network/sunnylink/models/user_model.h
  selfdrive/ui/sunnypilot/qt/network/sunnylink/services/base_device_service.cc
  selfdrive/ui/sunnypilot/qt/network/sunnylink/services/base_device_service.h
  selfdrive/ui/sunnypilot/qt/network/sunnylink/services/role_service.cc
  selfdrive/ui/sunnypilot/qt/network/sunnylink/services/role_service.h
  selfdrive/ui/sunnypilot/qt/network/sunnylink/services/user_service.cc
  selfdrive/ui/sunnypilot/qt/network/sunnylink/services/user_service.h
  selfdrive/ui/sunnypilot/qt/network/sunnylink/sunnylink_client.cc
  selfdrive/ui/sunnypilot/qt/network/sunnylink/sunnylink_client.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/sunnylink/sponsor_widget.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/sunnylink/sponsor_widget.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/sunnylink_panel.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/sunnylink_panel.h
  selfdrive/ui/sunnypilot/qt/request_repeater.cc
  selfdrive/ui/sunnypilot/qt/request_repeater.h
  selfdrive/ui/sunnypilot/ui.cc
  selfdrive/ui/sunnypilot/ui.h
  selfdrive/ui/tests/test_ui/run.py
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: enhancement, dev-c3

#671 pandad: dedicated aligned buffer for deserialization
  selfdrive/pandad/panda_safety.cc
Labels: bug, car enhancement

#674 ci: update existing comment during Squash and Merge
  release/ci/squash_and_merge_prs.py
Labels: bug, ci

#683 MADS: cleanup param assignments
  selfdrive/car/card.py
  sunnypilot/mads/helpers.py
  sunnypilot/mads/mads.py
Labels: enhancement, refactor

#627 ui: Error log button to Developer panel
  selfdrive/ui/qt/offroad/developer_panel.cc
  selfdrive/ui/qt/offroad/developer_panel.h
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Labels: enhancement, ui, dev-c3

#662 sunnylink: Improve API initialization and enhance WebSocket security
  sunnypilot/sunnylink/athena/sunnylinkd.py
Labels: enhancement, dev-c3

#688 ui: Developer Panel Fixes
  selfdrive/ui/qt/offroad/developer_panel.cc
  selfdrive/ui/qt/offroad/developer_panel.h
Labels: refactor, ui, dev-c3

#691 ui: sunnypilot Panel -> Steering Panel
  selfdrive/ui/sunnypilot/SConscript
  selfdrive/ui/sunnypilot/qt/offroad/settings/lateral/mads_settings.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/lateral/mads_settings.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/lateral_panel.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/lateral_panel.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/settings.cc
Labels: refactor, ui, dev-c3

#692 ui: reset all sunnypilot settings
  selfdrive/ui/sunnypilot/qt/offroad/settings/device_panel.cc
Labels: enhancement, ui

#696 Params: support filtering by `ParamKeyType` for `allKeys`
  common/params.cc
  common/params.h
  common/params_pyx.pyx
Labels: enhancement, refactor

#681 sunnylink: Settings backup & restore
  cereal/custom.capnp
  cereal/log.capnp
  cereal/services.py
  common/api/base.py
  common/params_keys.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/sunnylink_panel.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/sunnylink_panel.h
  selfdrive/ui/sunnypilot/ui.cc
  sunnypilot/sunnylink/api.py
  sunnypilot/sunnylink/backups/AESCipher.py
  sunnypilot/sunnylink/backups/__init__.py
  sunnypilot/sunnylink/backups/manager.py
  sunnypilot/sunnylink/backups/utils.py
  system/manager/process_config.py
Labels: enhancement, dev-c3, sunnylink

#698 ui: show branch selector in all branches
  selfdrive/ui/qt/offroad/software_settings.cc
Labels: ui

#700 NNLC: use torque substitutes as fuzzy fingerprints
  sunnypilot/selfdrive/controls/lib/nnlc/helpers.py
  sunnypilot/selfdrive/controls/lib/nnlc/tests/test_load_model.py
Labels: enhancement

#699 ui: use `allKeys` to reset sunnypilot settings
  selfdrive/ui/sunnypilot/qt/offroad/settings/device_panel.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/device_panel.h
Labels: enhancement, ui

#701 athenad: avoid infinite loop waiting for comma registration
  system/athena/registration.py
Labels: bug

#705 ui: fix offset with `OptionControlSP` for macOS
  selfdrive/ui/sunnypilot/qt/widgets/controls.h
Labels: bug, ui

#704 NNLC: bump max similarity for higher accuracy
  sunnypilot/selfdrive/controls/lib/nnlc/helpers.py
Labels: enhancement

#708 ui: support dynamic state updates for `PushButtonSP`
  selfdrive/ui/sunnypilot/qt/offroad/settings/device_panel.cc
  selfdrive/ui/sunnypilot/qt/widgets/controls.h
Labels: ui

#654 Device: Quiet Mode
  common/params_keys.h
  selfdrive/ui/soundd.py
  selfdrive/ui/sunnypilot/qt/offroad/settings/device_panel.cc
  selfdrive/ui/sunnypilot/quiet_mode.py
  selfdrive/ui/tests/test_ui/run.py
  system/manager/manager.py
Labels: enhancement, ui, dev-c3

#706 ui: vertical space for `ListWidget`
  selfdrive/ui/sunnypilot/qt/widgets/controls.cc
  selfdrive/ui/sunnypilot/qt/widgets/controls.h
Labels: ui

#653 Controls: Automatic lane change
  common/params_keys.h
  selfdrive/controls/lib/desire_helper.py
  selfdrive/ui/sunnypilot/SConscript
  selfdrive/ui/sunnypilot/qt/offroad/settings/lateral/lane_change_settings.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/lateral/lane_change_settings.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/lateral_panel.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/lateral_panel.h
  selfdrive/ui/tests/test_ui/run.py
  sunnypilot/selfdrive/controls/lib/auto_lane_change.py
  sunnypilot/selfdrive/controls/lib/tests/test_auto_lane_change.py
  system/manager/manager.py
Labels: enhancement, dev-c3

#707 ui: new icon for Lateral panel
  selfdrive/ui/sunnypilot/qt/offroad/settings/settings.cc
  sunnypilot/selfdrive/assets/offroad/icon_lateral.png
Labels: ui

#712 ci: add commit SHA to build notifications
  .github/workflows/sunnypilot-build-prebuilt.yaml
Labels: ci

#709 ui: display fingerprint as fallback in platform selector
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/platform_selector.cc
Labels: ui

#714 modeld: Enforce float type for `lag_adjusted_curvature`
  sunnypilot/selfdrive/controls/lib/drive_helpers.py
Labels: bug, dev-c3

#722 Events: Refactor `OnroadEventSP` structure and add upstream cereal validation
  .github/workflows/cereal_validation.yaml
  cereal/custom.capnp
  cereal/log.capnp
  cereal/messaging/tests/validate_sp_cereal_upstream.py
  selfdrive/selfdrived/selfdrived.py
  sunnypilot/selfdrive/selfdrived/events.py
Labels: bug, dev-c3, ci

#726 CI: refactor Squash and Merge with simplified branch merging
  .github/workflows/sunnypilot-master-dev-c3-prep.yaml
  release/ci/squash_and_merge.py
  release/ci/squash_and_merge_prs.py
Labels: bug, chore, ci

#721 car: abstract sunnypilot interfaces
  selfdrive/car/card.py
  selfdrive/car/tests/test_car_interfaces.py
  selfdrive/controls/lib/tests/test_latcontrol.py
  sunnypilot/selfdrive/car/interfaces.py
  sunnypilot/selfdrive/controls/lib/nnlc/tests/test_fingerprint.py
  sunnypilot/selfdrive/controls/lib/nnlc/tests/test_load_model.py
Labels: dev-c3, ci
