Repository sunnypilot/sunnypilot, pull requests merged in 2025-09, with the labels that each got.

#1177 bugfix: fix fetching params for sunnylink and backup
  sunnypilot/sunnylink/athena/sunnylinkd.py
  sunnypilot/sunnylink/backups/manager.py
  sunnypilot/sunnylink/utils.py
Labels: bug, dev-c3, sunnylink

#1219 ui: cleanup cereal event params parsing
  selfdrive/ui/sunnypilot/qt/offroad/settings/models_panel.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/models_panel.h
  selfdrive/ui/sunnypilot/qt/util.cc
  selfdrive/ui/sunnypilot/qt/util.h
Labels: ui

#997 Smart Cruise Control: Vision (SCC-V)
  cereal/custom.capnp
  common/params_keys.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/longitudinal_panel.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/longitudinal_panel.h
  selfdrive/ui/sunnypilot/qt/onroad/hud.cc
  selfdrive/ui/sunnypilot/qt/onroad/hud.h
  sunnypilot/selfdrive/controls/lib/longitudinal_planner.py
  sunnypilot/selfdrive/controls/lib/smart_cruise_control/smart_cruise_control.py
  sunnypilot/selfdrive/controls/lib/smart_cruise_control/tests/test_vision_controller.py
  sunnypilot/selfdrive/controls/lib/smart_cruise_control/vision_controller.py
Labels: enhancement

#1285 bug: fix Speed Limit Resolver initialization
  sunnypilot/selfdrive/controls/lib/speed_limit/speed_limit_resolver.py
Labels: bug, dev

#833 Longitudinal: Speed Limit Assist (SLA)
  cereal/custom.capnp
  selfdrive/car/card.py
  selfdrive/car/cruise.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/controls/plannerd.py
  selfdrive/selfdrived/selfdrived.py
  selfdrive/ui/qt/onroad/hud.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/longitudinal/speed_limit/helpers.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/longitudinal/speed_limit/speed_limit_settings.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/longitudinal/speed_limit/speed_limit_settings.h
  selfdrive/ui/sunnypilot/qt/onroad/hud.cc
  selfdrive/ui/sunnypilot/qt/onroad/hud.h
  sunnypilot/selfdrive/assets/img_minus_arrow_down.png
  sunnypilot/selfdrive/assets/img_plus_arrow_up.png
  sunnypilot/selfdrive/car/cruise_ext.py
  sunnypilot/selfdrive/controls/lib/longitudinal_planner.py
  sunnypilot/selfdrive/controls/lib/smart_cruise_control/smart_cruise_control.py
  sunnypilot/selfdrive/controls/lib/speed_limit/__init__.py
  sunnypilot/selfdrive/controls/lib/speed_limit/common.py
  sunnypilot/selfdrive/controls/lib/speed_limit/helpers.py
  sunnypilot/selfdrive/controls/lib/speed_limit/speed_limit_assist.py
  sunnypilot/selfdrive/controls/lib/speed_limit/tests/test_speed_limit_assist.py
  sunnypilot/selfdrive/selfdrived/events.py
Labels: enhancement
