Repository sunnypilot/sunnypilot, pull requests merged in 2025-05, with the labels that each got.

#864 ci: Fix prebuilt label behavior
  .github/workflows/sunnypilot-build-prebuilt.yaml
Labels: chore, ci

#868 models: Remove local model compilation for modeldv2
  selfdrive/modeld/SConscript
  sunnypilot/modeld/SConscript
  sunnypilot/modeld/models/supercombo.onnx
  sunnypilot/modeld_v2/SConscript
  sunnypilot/modeld_v2/dmonitoringmodeld
  sunnypilot/modeld_v2/dmonitoringmodeld.py
  sunnypilot/modeld_v2/models/dmonitoring_model.current
  sunnypilot/modeld_v2/models/dmonitoring_model.onnx
  sunnypilot/modeld_v2/models/supercombo.onnx
Labels: refactor

#869 ci: Add error handling for failed workflow run
  .github/workflows/wait-for-action/action.yaml
Labels: bug, no-changelog, ci

#852 ui: add longitudinal settings panel
  selfdrive/ui/sunnypilot/SConscript
  selfdrive/ui/sunnypilot/qt/offroad/settings/longitudinal_panel.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/longitudinal_panel.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/settings.cc
  selfdrive/ui/tests/test_ui/run.py
Labels: ui

#871 BUG FIX: Fix .thneed model runners
  sunnypilot/modeld/SConscript
Labels: bug, dev-c3

#875 models: simplify modeld v2 logic process
  sunnypilot/modeld_v2/model_runner.py
  sunnypilot/modeld_v2/modeld.py
Labels: refactor, dev-c3

#870 models: refactor model bundle structure
  cereal/custom.capnp
  selfdrive/ui/sunnypilot/qt/offroad/settings/software_panel.cc
  sunnypilot/modeld/runners/run_helpers.py
  sunnypilot/modeld_v2/model_runner.py
  sunnypilot/models/fetcher.py
  sunnypilot/models/helpers.py
  sunnypilot/models/manager.py
Labels: refactor, dev-c3

#884 Consolidate model helpers & get_model_path filename fix
  sunnypilot/modeld/modeld.py
  sunnypilot/modeld/runners/run_helpers.py
  sunnypilot/models/helpers.py
Labels: bug, dev-c3

#891 ui: emit panel refresh signal from Platform Selector
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/platform_selector.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/platform_selector.h
Labels: ui

#879 Models: Enable support for liveDelay in modeld_v2
  sunnypilot/modeld_v2/modeld.py
Labels: enhancement, dev-c3

#886 UI: Fix Padding on `OptionControlSP`
  selfdrive/ui/sunnypilot/qt/widgets/controls.cc
Labels: bug, ui, dev-c3

#881 bug: fix braking issue while experimental and using old model
  selfdrive/controls/lib/longitudinal_planner.py
  sunnypilot/models/helpers.py
  sunnypilot/selfdrive/controls/lib/longitudinal_planner.py
Labels: enhancement, dev-c3

#892 Revert "Hyundai: custom longitudinal tuning"
  common/params_keys.h
  selfdrive/ui/sunnypilot/SConscript
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/hyundai_settings.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/hyundai_settings.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle_panel.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle_panel.h
  sunnypilot/selfdrive/car/interfaces.py
  system/manager/manager.py
Labels: no-changelog

#896 ui: Adjust stretch factor for `ListWidgetSP`
  selfdrive/ui/sunnypilot/qt/widgets/controls.h
Labels: ui

#897 ui: Platform Selector updates
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/platform_selector.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/platform_selector.h
Labels: ui

#899 ui: fix screens for UI Preview
  selfdrive/ui/tests/test_ui/run.py
Labels: ui

#888 UI: Support inline layout for `ButtonParamControlSP`
  selfdrive/ui/sunnypilot/qt/widgets/controls.h
Labels: enhancement, ui

#900 ui: encapsulate always enabled buttons into a list in Device panel
  selfdrive/ui/sunnypilot/qt/offroad/settings/device_panel.cc
Labels: ui

#880 ui: update Quiet Mode button behavior
  selfdrive/ui/sunnypilot/qt/offroad/settings/device_panel.cc
  selfdrive/ui/sunnypilot/qt/widgets/controls.h
Labels: bug, ui, dev-c3

#898 ui: brand settings for Vehicle panel
  selfdrive/ui/sunnypilot/SConscript
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/brand_settings_factory.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/brand_settings_factory.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/brand_settings_interface.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/brand_settings_interface.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/brands.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/chrysler_settings.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/chrysler_settings.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/ford_settings.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/ford_settings.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/gm_settings.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/gm_settings.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/honda_settings.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/honda_settings.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/hyundai_settings.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/hyundai_settings.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/mazda_settings.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/mazda_settings.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/nissan_settings.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/nissan_settings.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/rivian_settings.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/rivian_settings.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/subaru_settings.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/subaru_settings.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/tesla_settings.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/tesla_settings.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/toyota_settings.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/toyota_settings.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/volkswagen_settings.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/volkswagen_settings.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle_panel.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle_panel.h
Labels: ui

#903 models: aligning naming on modeld_v2 with upstream naming
  sunnypilot/modeld_v2/modeld.py
Labels: refactor, no-changelog

#905 ui: fix supported brand settings list
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/brand_settings_factory.cc
Labels: bug, ui

#904 ui: consolidate panel updates at a single location
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/brand_settings_interface.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/brand_settings_interface.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/chrysler_settings.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/chrysler_settings.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/ford_settings.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/ford_settings.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/gm_settings.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/gm_settings.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/honda_settings.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/honda_settings.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/hyundai_settings.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/hyundai_settings.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/mazda_settings.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/mazda_settings.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/nissan_settings.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/nissan_settings.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/rivian_settings.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/rivian_settings.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/subaru_settings.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/subaru_settings.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/tesla_settings.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/tesla_settings.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/toyota_settings.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/toyota_settings.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/volkswagen_settings.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/volkswagen_settings.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle_panel.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle_panel.h
Labels: ui

#894 Reapply "Hyundai: custom longitudinal tuning"
  common/params_keys.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/hyundai_settings.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/hyundai_settings.h
  sunnypilot/selfdrive/car/interfaces.py
  system/manager/manager.py
Labels: car enhancement, ui

#901 MADS: use low velocity threshold for silent wrong gear checks
  sunnypilot/mads/mads.py
Labels: bug, dev-c3

#906 ui: display actual fingerprint name with auto-fingerprint
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/platform_selector.cc
Labels: bug, ui

#907 Revert "ui: display actual fingerprint name with auto-fingerprint"
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/platform_selector.cc
Labels: ui, no-changelog

#908 ui: display actual fingerprint name with auto-fingerprint
  selfdrive/ui/sunnypilot/qt/offroad/settings/vehicle/platform_selector.cc
Labels: bug, ui, dev-c3

#910 MADS: allow transition from Paused to Enabled at all times
  sunnypilot/mads/mads.py
  sunnypilot/mads/state.py
  sunnypilot/mads/tests/test_mads_state_machine.py
  sunnypilot/selfdrive/selfdrived/events.py
Labels: bug, dev-c3

#858 Controls: Extension
  cereal/custom.capnp
  selfdrive/controls/controlsd.py
  sunnypilot/selfdrive/controls/controlsd_ext.py
Labels: enhancement, refactor, dev-c3

#926 MADS: evaluate brakePressed and regenBraking for Pause Lateral mode
  sunnypilot/mads/mads.py
Labels: enhancement

#927 MADS: Refactor Unified Engagement Mode
  sunnypilot/mads/mads.py
Labels: refactor

#804 Hyundai: add more FW versions to enable radar tracks debug script
  selfdrive/debug/hyundai_enable_radar_points.py
Labels: documentation, car enhancement

#930 MADS: prep for refactor
  sunnypilot/mads/mads.py
Labels: refactor

#928 MADS: retain `pedalPressed` alert only
  cereal/custom.capnp
  sunnypilot/mads/mads.py
  sunnypilot/selfdrive/selfdrived/events.py
Labels: bug, refactor

#931 MADS: `wrongCarMode` alert only with selfdrive enable
  sunnypilot/mads/mads.py
Labels: refactor

#932 Revert "MADS: `wrongCarMode` alert only with selfdrive enable (#931)"
  sunnypilot/mads/mads.py
Labels: no-changelog

#933 Reapply "MADS: wrongCarMode alert only with selfdrive enable (#931)"
  sunnypilot/mads/mads.py
Labels: bug

#937 ui: support selected button enabled for `ButtonParamControlSP`
  selfdrive/ui/sunnypilot/qt/widgets/controls.h
Labels: ui

#938 MADS: prerequisite for partial platform support
  selfdrive/ui/sunnypilot/qt/offroad/settings/lateral/mads_settings.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/lateral/mads_settings.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/lateral_panel.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/lateral_panel.h
  sunnypilot/mads/helpers.py
  sunnypilot/mads/mads.py
Labels: refactor, ui

#916 ui: add expandable row widget
  selfdrive/ui/sunnypilot/SConscript
  selfdrive/ui/sunnypilot/qt/widgets/controls.h
  selfdrive/ui/sunnypilot/qt/widgets/expandable_row.cc
  selfdrive/ui/sunnypilot/qt/widgets/expandable_row.h
Labels: ui

#498 ci: build upstream (tinnygrad) models from our pipeline
  .github/workflows/sunnypilot-build-model.yaml
  release/ci/model_generator.py
Labels: chore, ci

#956 ui: models panel
  selfdrive/ui/sunnypilot/SConscript
  selfdrive/ui/sunnypilot/qt/offroad/settings/models_panel.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/models_panel.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/settings.cc
  selfdrive/ui/tests/test_ui/run.py
  sunnypilot/selfdrive/assets/offroad/icon_models.png
Labels: ui

#957 ui: move model selector to models panel
  selfdrive/ui/sunnypilot/qt/offroad/settings/models_panel.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/models_panel.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/software_panel.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/software_panel.h
Labels: ui, dev-c3

#965 ui: Bumping the total scons nodes for progress bar
  system/manager/build.py
Labels: ui, chore
