Repository sunnypilot/sunnypilot, pull requests merged in 2025-06, with the labels that each got.

#976 ui: include MADS enabled state to `engaged` check
  selfdrive/ui/sunnypilot/ui.h
  selfdrive/ui/ui.h
Labels: ui

#986 Networking: Fix Prime Level Five For Users in Roaming Only Networks
  selfdrive/ui/qt/network/networking.cc
Labels: bug, ui, dev-c3

#983 Controls: Pause lateral control based on blinker state and vehicle speed
  common/params_keys.h
  selfdrive/ui/sunnypilot/SConscript
  selfdrive/ui/sunnypilot/qt/offroad/settings/lateral/blinker_pause_lateral_settings.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/lateral/blinker_pause_lateral_settings.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/lateral_panel.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/lateral_panel.h
  sunnypilot/selfdrive/controls/controlsd_ext.py
  sunnypilot/selfdrive/controls/lib/blinker_pause_lateral.py
  sunnypilot/selfdrive/controls/lib/tests/test_blinker_pause_lateral.py
  system/manager/manager.py
Labels: enhancement, ui

#981 ui: display different border color for long control without lat
  selfdrive/ui/ui.cc
Labels: enhancement, ui

#977 bug: fix default model selection ui
  selfdrive/ui/sunnypilot/qt/offroad/settings/models_panel.cc
Labels: bug, ui, dev-c3

#990 Revert "ui: model fuzzy search"
  selfdrive/ui/sunnypilot/qt/offroad/settings/models_panel.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/models_panel.h
Labels: ui

#872 UI: Add Exit Offfroad button on the home screen
  common/params_keys.h
  selfdrive/selfdrived/alerts_offroad.json
  selfdrive/ui/qt/offroad/offroad_home.cc
  selfdrive/ui/qt/offroad/offroad_home.h
  selfdrive/ui/sunnypilot/SConscript
  selfdrive/ui/sunnypilot/qt/offroad/exit_offroad_button.cc
  selfdrive/ui/sunnypilot/qt/offroad/exit_offroad_button.h
  selfdrive/ui/sunnypilot/qt/offroad/offroad_home.cc
  selfdrive/ui/sunnypilot/qt/offroad/offroad_home.h
  selfdrive/ui/sunnypilot/qt/widgets/drive_stats.cc
  sunnypilot/selfdrive/assets/offroad/icon_exit_offroad.png
  system/hardware/hardwared.py
Labels: enhancement, ui, dev-c3

#993 mapd: add to ignored processes list
  selfdrive/selfdrived/selfdrived.py
  sunnypilot/mapd/mapd_installer.py
  sunnypilot/mapd/mapd_manager.py
  system/hardware/hw.py
Labels: bug
