Repository sunnypilot/sunnypilot, pull requests merged in 2025-07, with the labels that each got.

#1022 ci: updating gh runner and adjust restore process
  release/ci/install_github_runner.sh
Labels: chore

#1026 DEC: Kalman and the Magic Mode Switcheroo
  sunnypilot/selfdrive/controls/lib/dec/constants.py
  sunnypilot/selfdrive/controls/lib/dec/dec.py
  sunnypilot/selfdrive/controls/lib/dec/tests/pytest_dynamic_controller.py
Labels: enhancement, dev-c3

#1001 liveDelay: Add live delay toggle to vehicles using torqued
  common/params_keys.h
  selfdrive/controls/controlsd.py
  selfdrive/locationd/torqued.py
  selfdrive/modeld/modeld.py
  selfdrive/ui/sunnypilot/qt/offroad/settings/models_panel.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/models_panel.h
  selfdrive/ui/sunnypilot/qt/widgets/controls.h
  sunnypilot/livedelay/__init__.py
  sunnypilot/livedelay/lagd_toggle.py
  sunnypilot/modeld/modeld.py
  sunnypilot/modeld_v2/modeld.py
  sunnypilot/models/modeld_lagd.py
  sunnypilot/selfdrive/controls/lib/latcontrol_torque_ext_base.py
  system/manager/manager.py
Labels: enhancement, dev-c3

#1025 Bug: Param Store Cache
  sunnypilot/selfdrive/controls/lib/param_store.py
Labels: bug

#1012 Longitudinal Planner: Allow Non-MLSIM Models to Use MPC
  selfdrive/controls/lib/longitudinal_planner.py
  sunnypilot/selfdrive/controls/lib/longitudinal_planner.py
Labels: refactor, dev-c3

#1032 UI: Custom Interactivity Timeout
  common/params_keys.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/device_panel.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/device_panel.h
  selfdrive/ui/ui.cc
  system/manager/manager.py
Labels: enhancement, ui, dev-c3

#1036 ci: Automate model build, publish, and update docs with JSON metadata
  .codespellignore
  .github/workflows/build-all-tinygrad-models.yaml
  .github/workflows/build-single-tinygrad-model.yaml
Labels: ci

#827 ui: display recorded timestamp on error view
  selfdrive/ui/qt/offroad/developer_panel.cc
  selfdrive/ui/qt/offroad/developer_panel.h
  selfdrive/ui/sunnypilot/SConscript
  selfdrive/ui/sunnypilot/qt/offroad/settings/developer_panel.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/developer_panel.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/settings.cc
Labels: ui, dev-c3

#1031 UI: Model Folders
  selfdrive/ui/qt/widgets/input.cc
  selfdrive/ui/qt/widgets/input.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/models_panel.cc
Labels: enhancement, ui, dev-c3

#1048 models panel: Refine Software Delay Adjustments
  selfdrive/ui/sunnypilot/qt/offroad/settings/models_panel.cc
Labels: ui, dev-c3

#1030 sunnypilot modeld: Refactor Modeld to Allow Dynamic Plan and Lead
  selfdrive/modeld/modeld.py
  sunnypilot/modeld/fill_model_msg.py
  sunnypilot/modeld/modeld.py
  sunnypilot/modeld_v2/fill_model_msg.py
  sunnypilot/modeld_v2/modeld.py
  sunnypilot/modeld_v2/parse_model_outputs_split.py
  sunnypilot/models/helpers.py
  sunnypilot/selfdrive/controls/lib/longitudinal_planner.py
Labels: enhancement, refactor, dev-c3

#1053 UI: Advanced Controls Toggle
  common/params_keys.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/developer_panel.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/developer_panel.h
  selfdrive/ui/sunnypilot/qt/widgets/controls.cc
  selfdrive/ui/sunnypilot/qt/widgets/controls.h
  system/manager/manager.py
Labels: enhancement, ui

#1060 ui: Link Advanced Controls
  selfdrive/ui/sunnypilot/qt/offroad/settings/developer_panel.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/models_panel.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/software_panel.cc
Labels: ui

#1058 UI: Clear Model Cache
  common/params_keys.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/models_panel.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/models_panel.h
  sunnypilot/models/manager.py
  system/hardware/hw.h
Labels: enhancement, ui

#1062 sunnypilot modeld: Fix SP Model Generation
  sunnypilot/modeld_v2/parse_model_outputs_split.py
Labels: bug, dev-c3

#1079 ui: fix descriptions visibility on models panel
  selfdrive/ui/sunnypilot/qt/offroad/settings/models_panel.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/models_panel.h
Labels: bug, ui

#1094 ci: refactor PR handling and input parsing for `squash-and-merge`
  .github/workflows/sunnypilot-master-dev-c3-prep.yaml
Labels: ci

#1096 ci: Refactor model building workflows
  .github/workflows/build-all-tinygrad-models.yaml
  .github/workflows/build-single-tinygrad-model.yaml
  .github/workflows/sunnypilot-build-model.yaml
  release/ci/model_generator.py
Labels: refactor, ci
